.App {
  text-align: left;
  height: 100vh !important;
}

.ui{
  /* font-family: 'Open Sans', sans-serif !important; */
}

.computer.only.tablet.only.four.column {
  margin-right: 6vw;
}

.mobile.only.one.column.card-row {
  margin-right: 4vw;
}

.project-dropdown-row {
  margin-bottom: 40px;
}

section {
  height: 100vh !important;
}

#map-loader{
  padding-top: 30vh !important;
  height: 100vh !important;
}

.menu-grid {
  padding: 0 !important;
}

.mobile.only .column {
  padding-right: 0 !important;
}

.mobile.only .column .menu {
  margin-right: 0px !important;
}

.project .flag {
  margin-left: 8px !important;
}

.profile-section .grid {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#donate-header{
  display: flex !important;
  flex-direction: column !important;
}

#donate-header-div{
  margin-top: 5px !important;
}

#flag-div{
  text-align: center;
}

#donate-div{
  padding-left: 30px;
  padding-right: 30px;
}

.ui.divided.middle.aligned.list{
  padding-right:10px;
}

.login-field label {
  text-align: center;
}

.ui.center.aligned.header{
  margin-top: 5px !important;
}

.ui.inverted.segment{
  height: 5.2em;
}

.visiblity-div {
  padding-top: 300px;
  height: 1000px !important;
}

.user.icon{
  color: rgb(21,134, 203)
}

.tasks.icon{
  color: rgb(21,134, 203)
}

.country-drop-div{
  margin-top: 18px !important;
  flex-direction: column !important;
  width: 50%;
}

.dollar.sign.circular.icon{
  color: green;
}

#amount-input {
  text-align: center;
}

#gg-logo {
  max-width: 15%;
}

#default-country{
  font-size: 1.3em !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.ui.positive{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-container div {
  margin-left: 30px;
  margin-right: 30px;
}

.login-section {
  padding-top: 5vh;
}

.login-div {
  padding-top: 3vh;
}

.user.icon {
  margin-top: 2vh !important;
}

.globe.icon {
  margin-top: 2vh !important;
}

.gg-attribution {
  font-family: 'Open Sans', sans-serif;
  width: 15%;
  text-align: center !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.org-link{
  color: blue !important;
}

.attribution-div{
  position: absolute;
  left: 4 !important;
  text-align: left;
  width: auto;
}

.celled{
  height: 250px !important;
}

.meta {
  text-align: center;
}

.header {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column {
  text-align: center;
}

.dropdown-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.select-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  text-align: left;
}

.extra{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ui.globe.icon{
  font-size: 20px;
}

.login-field{
  width: 20%;
}

.login-div h2{
  margin-top: 10px;
  text-align: center;
}

.ui.form{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-dropdown-div{
  /* padding: 0 !important; */
  margin-top: 15px !important;
}

.map-dropdown-div .multiple.dropdown{
  width: 30% ;
  margin-left: auto;
  margin-right: auto;
}

.extra a{
  margin-left: 5px;
  margin-right: 5px;
}

.card:after{
  display: none !important;
}

.list .item{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.select-container button {
  width: 50px;
}

.buttons{
  display: flex;
  flex-direction: row;
}


.dropdown-container select{
  margin-left: 10px;
  margin-right: 10px;
}

.profile-header{
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
}

.list-top-image {
  height: 300px !important;
}

.secondary.menu {
  align-items: flex-end !important;
  flex-direction: row;
}

.menu .header {
  font-size: 17px;
}


#choropleth_map{
  padding-bottom: 0px !important;
  padding-top: 15px;
  height: 120vh;
  width: 140vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}


.App-link {
  color: #61dafb;
}

.app-div{
  margin: 0px !important;
}

.refreshBtn{
  position: absolute;
  margin-top: 0%;
}

.datamap {
  border: 2px black;
}

#map-div {
  margin-bottom: -25%;
  padding-top: 0px !important;
}

.item.donation.options {
  justify-content: flex-start !important;
}

.ui.circular.button {
  width: 80px !important;
}


.donation.description {
  width: 100%;
  margin-left: 20px !important;
}

.donation.description .header {
  text-align: left !important;
  padding-top: 8px !important;
}

.content.donation.amount {
  /* width: 4em; */
}

#payment-div {
  width: 50%;
}

.star.icon.donate.active{
  color: gold !important;
}

.card-div{
  margin-bottom: 80px !important;
  padding-left: .25rem;
  padding-right: .25rem;
}

.card-row{
  justify-content: center !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 130px !important; */
}

.ui.card{
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.ui.progress {
  margin-bottom: .2em !important;
}

.country-drop {
  width: 25vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.themes-drop {
  width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left !important;
}

.ui.form.create-form{
  flex-direction: column !important;
  width: 80vw !important;
}

/* .ui.form.create-form #form-group-div {
  justify-content: space-between !important;
} */

.equal.width.fields{
  flex-direction: column !important;
}

#fields-div {
  flex-direction: column !important;
}

#fields-div label {
  font-size: 14px;
}

#button-div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 300px;
}

#top-themes {
  font-size: 18px !important;
  font-weight: bold;
  margin-bottom: 8px;
}

#form-group-div {
  display: flex;
  flex-direction: row;
  width: 70% !important;
  justify-content: space-around !important;
}

th {
  font-size: 1.7em;
}

.ui.circular.segment {
  margin-left: auto;
  margin-right: auto;
}

.profile-section .ui.fluid.dropdown{
  width: 20% !important;
}

.map-dropdown-div .ui.fluid.dropdown{
  width: 30% !important;
}

.ui.fluid.dropdown div{
  margin: 0 !important;
}

.ui.attached.label, .ui[class*="top attached"].label {
  width: 30% !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ui.segment {
  border: 0 !important;
}

.computer.only.tablet.one.column.row.map-dropdown-div {
  position: absolute;
  top: 100vh;
}

#choropleth_parent {
  margin-top: 0px !important;
}

.profile-section .sixteen {
  margin-top: 20px !important;
}

td {
  font-size: 1.3em;
}

#map-btns {
    margin-top: 500px;
}

.mobile-btn-row {
  margin-top: 25px;
}

.ui.massive.vertical.menu {
  margin: 0;
  width: 100vw;
}

.ui.fluid.search.mobile-country-drop {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1300px) {
  #map-div {
    margin-bottom: -5%;
  }
}

@media only screen and (max-width: 768px) {
  #choropleth_map {
    margin-top: 200px;
  }
  .ui.secondary.inverted.menu a.item {
    color: #000 !important;
  }

  /* stack create user form */

  #form-group-div {
    flex-direction: column;
  }

  #fields-div .field {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }

  .country-drop-div {
    width: 100% !important;
  }

  #root .App #form-group-div .ui.form .country-drop-div .required.field {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
  }

  .ui.form .fields {
    align-items: center;
  }

  #default-country {
    display: flex;
    justify-content: center;
  }

  /* stack buttons on mobile  */

  #button-div {
    flex-direction: column;
    align-items: center;
    width: 50vw;
  }

  #button-div .field{
    width: 80% !important;
  }


  .ui.fluid.search.selection.dropdown.create-country-drop {
    width: 50vw;
  }

  .ui.secondary.inverted.menu .active.item {
    color: #000 !important;
  }
}

@media only screen and (max-width: 767px) {

  /* increase width of dropdowns */
  .ui.grid>[class*="two column"].row>.column {
    width: 80% !important;
  }

  /* center cards  */
  .card-div .ui.card {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* arrange theme dropdowns in a column for mobile  */
  .dropdown-container {
    flex-direction: column;
    align-items: center;
  }

  /* increase the width of theme dropdowns on mobile */
  .profile-section .ui.fluid.dropdown {
    width: 60vw !important;
  }

  /* change the whitespace from nowrap to normal */
  .ui.table[class*="single line"]  {
    white-space: normal !important;
    word-wrap: break-word;
  }

  #remove-donate-div {
    display: flex !important;
    justify-content: space-evenly;
  }

  .fundingCell {
    font-size: 1em;
  }

  .ui.table:not(.unstackable) {
    width: 78vw !important;
  }


  /* centering donate page */
  #donate-header-div .content {
    text-align: center;
  }
  #donate-div {
    justify-content: center;
  }

  .disabled.field {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .card-row {
    align-items: center !important;
    justify-content: center !important;
  }

  .project-dropdown-row .country-drop {
    min-width: 70% !important;
  }

  .project-dropdown-row .themes-drop {
      min-width: 70% !important;
  }
  /* stack dropdowns ontop of each other and center them */
  .ui.grid .project-dropdown-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ui.form {
      margin-top: 2em;
  }
  .ui.form .field {
    margin-bottom: 2em !important;
    width: 50% !important;
    text-align: center;
  }
  .ui.form .field .large.ui {
    width: 80%;
  }

  .ui.form .field.login-buttons {
    margin-top: 1em;
  }
  .ui.form .field.login-buttons input {
    margin-top: .5em;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
