.App {
  text-align: left;
  height: 100vh !important;
}

section {
  height: 100vh !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.celled{
  height: 250px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column {
  text-align: center;
}

.dropdown-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.select-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  text-align: left;
}

.list .item{
  display: flex !important;
  flex-direction: row;
}

.select-container button {
  width: 50px;
}

.buttons{
  display: flex;
  flex-direction: row;
}


.dropdown-container select{
  margin-left: 10px;
  margin-right: 10px;
}

.profile-header{
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
}

.list-top-image {
  height: 300px !important;
}

#choropleth_map{
  margin-top: 20px;
  height: 200vh;
  width: 165vw;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

.app-div{
  margin: 0px !important;
}

.refreshBtn{
  position: absolute;
  margin-top: 0%;
}

.datamap {
  border: 2px black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
